<div class="todo-form">
    <h1>TODO List</h1>
    <h3>A place to store your todos</h3>
    <input placeholder="Filter your to-dos" class="filter" [(ngModel)]="filterValue" (keydown)="filterTodos()">
    <div *ngFor="let todo of filteredTodos; let i = index">
        <div class="todo-item">
            <div>{{i + 1}}.</div>
            <button class="complete-button" *ngIf="!todo.completed" (click)="completeClicked(todo)">Complete</button>
            <div [ngStyle]="{'text-decoration' : todo.completed ? 'line-through' : 'none'}">
                {{todo.task}}
            </div>
            <div class="delete" (click)="deleteTodo(i)">X</div>
        </div>
    </div>
    
    <input class="todo-input" [(ngModel)]="taskName" placeholder="Add your todo" />
    <div><button class="add-todo" (click)="addTodo()">Add</button></div>
</div>